Repository AlejandraDAmbrosio/HomeOff-PI1-DH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_cicd, backend_cicd

.gitlab-ci.yml:

frontend_cicd:
  trigger:
    include:
      - local: frontend/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == "lab"
      when: always
      changes:
        - frontend/**/**
  only:
    - lab

backend_cicd:
  trigger:
    include:
      - local: backend/.gitlab-ci.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == "lab"
      when: always
      changes:
        - backend/**/**
  only:
    - lab

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Prueba pipeline trigger y FE
  frontend/Prueba.txt
Due: frontend_cicd

Prueba pipeline trigger, FE y BE
  backend/prueba.txt
  frontend/.gitlab-ci.yml
Due: frontend_cicd, backend_cicd

Prueba pipeline trigger
  backend/prueba.txt
  frontend/Prueba.txt
  prueba.txt
Due: frontend_cicd, backend_cicd

Prueba pipeline trigger
  prueba.txt
Due: none

Prueba pipeline trigger y BE
  backend/prueba2.txt
Due: backend_cicd

Prueba pipeline BE
  backend/prueba2.txt
Due: backend_cicd

Prueba pipeline Trigger
  prueba3.txt
Due: none

Fin prueba pipeline Trigger
  prueba3.txt
Due: none

Entrega de valores a formulario confirmacion reserva ok. Inestable pero funciona. Prueba de cambio de tipo en error email Logueo.
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Components/utils/obtenerPrecioXIdRecurso.js
  frontend/03/project-test/src/Routes/Detail.jsx
  frontend/03/project-test/src/Routes/Favoritos.jsx
  frontend/03/project-test/src/Routes/FormIngreso.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Ajuste REservaXIDRecurso
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Reserva, pero hay problemas con el calendario en l apagina Detalle
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXId.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
  frontend/03/project-test/src/Routes/VerReservas.jsx
Due: frontend_cicd

pre conexion a Calendario. y nueva limpieza
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXId.jsx
  frontend/03/project-test/src/Components/MenuDropDown/AccountMenu.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

1era limpieza
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

Reorden llamadas y hooks Detail
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

Comentario
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

liberacion metodos favoritos y politicas y metodo de buscar reservas x IDRECURSO
  backend/pom.xml
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/authentication/AuthController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthFavoritoController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthPoliticasAlquilerController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthReservaController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/ReservaController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/IReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/ReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/IReservaService.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/ReservaService.java
  backend/src/main/resources/application.properties
Due: backend_cicd

Antes de probar el calendario en Detalle
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXId.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

Ajuste en pipeline BE
  backend/.gitlab-ci.yml
Due: backend_cicd

Se agregan los pipelines BE y Trigger, además de movel pipeline FE
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_cicd, backend_cicd

Actualización IP EC2 BE (de Dev a Test) en componentes FE
  frontend/03/project-test/src/Components/AdministradorProductos/AdminProductos/TablaProductos.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/AdminUsers/Users.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Caracteristicas/TablaCaracteristicas.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Categorias/TablaCategorias.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Components/utils/global.contextauth.jsx
  frontend/03/project-test/src/Routes/AgregarCaracteristicas.jsx
  frontend/03/project-test/src/Routes/AgregarProducto.jsx
  frontend/03/project-test/src/Routes/EditarProducto.jsx
  frontend/03/project-test/src/Routes/FormAltaUser.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Update frontend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_cicd

Se agrega dependencia a pipeline FE
  frontend/.gitlab-ci.yml
Due: frontend_cicd

Limpieza de errores flexItems, setFechas sin usar, y calendarios sin usar
  frontend/03/project-test/src/Components/Buscador/Fecha/Calendario.jsx
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioII.jsx
  frontend/03/project-test/src/Components/Buscador/NuevoBuscador/NuevoBuscador.jsx
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioRDP.jsx
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXId.jsx
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXIdReserva.jsx
  frontend/03/project-test/src/Components/Genericos/Puntuaciones/EstrellaValor.jsx
  frontend/03/project-test/src/Components/ListadoDeProductos/CardProducto.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Inicio de marcas de fechas deshabilitadas en pagina Detalle
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioPrueba.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Components/utils/obtenerFechasDeshabilitadas .js
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

Prueba pipelines con BE rama mauricio commit 7b1ef48c y FE rama develop commit f2dc9457
  backend/.gitlab-ci.yml
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/IReservaService.java
  frontend/03/project-test/src/Components/AdministradorProductos/AdminProductos/TablaProductos.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/AdminUsers/Users.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Caracteristicas/TablaCaracteristicas.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Categorias/TablaCategorias.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Components/utils/global.contextauth.jsx
  frontend/03/project-test/src/Routes/AgregarCaracteristicas.jsx
  frontend/03/project-test/src/Routes/AgregarProducto.jsx
  frontend/03/project-test/src/Routes/EditarProducto.jsx
  frontend/03/project-test/src/Routes/FormAltaUser.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd, backend_cicd

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend_cicd

getArrayFechasReservasXRecurso que inyecta fechas intermedias en el arrayFechasReservasXRecurso
  frontend/03/project-test/src/Components/utils/global.context.jsx
Due: frontend_cicd

getArrayFechasReservasXRecurso ejecutado en CalendarioPrueba unicamente si id es !== a undefined
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioPrueba.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
Due: frontend_cicd
