Repository AlejandraDAmbrosio/HomeOff-PI1-DH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_cicd, backend_cicd

frontend_cicd:
  trigger:
    include:
    - local: frontend/.gitlab-ci.yml
    strategy: depend

backend_cicd:
  trigger:
    include:
    - local: backend/.gitlab-ci.yml
    strategy: depend

Ajuste chico en visual Calendario
  frontend/03/project-test/src/Components/Buscador/Fecha/Calendar.css
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioBuscador.jsx
  frontend/03/project-test/src/Components/Buscador/NuevoBuscador/NuevoBuscador.jsx
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXId.jsx
  frontend/03/project-test/src/Components/Genericos/Fecha/CalendarioXIdReserva.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
Due: frontend_cicd

Ajuste chico en visual Calendario
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioPrueba.jsx
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
  frontend/03/project-test/src/Components/Buscador/SegmentoBuscador.jsx
Due: frontend_cicd

se agrega metodo para busqueda y filtro de fecha por recurso trayendo fechas con respectiv estado ocupado o disponible
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/configuration/SecurityConfig.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/ReservaController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/entities/EstadoFechaRespuesta.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/entities/Reserva.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/IReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/ReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/IReservaService.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/ReservaService.java
Due: backend_cicd

estabilizacion testing
  AutomatizacionPruebas/src/test/java/pagesobject/front/creacuenta/CreaCuentaPage.java
  AutomatizacionPruebas/src/test/java/pagesobject/front/home/HomePage.java
  AutomatizacionPruebas/src/test/java/pagesobject/front/iniciarsesion/IniciarSesionPage.java
  AutomatizacionPruebas/src/test/java/pagesobject/front/sad.java
  AutomatizacionPruebas/src/test/java/pagesobject/prueba6.java
  AutomatizacionPruebas/src/test/java/starter/executetest/BaseWrapper.java
  AutomatizacionPruebas/src/test/java/starter/executetest/CucumberTestSuite.java
  AutomatizacionPruebas/src/test/java/starter/navigation/DuckDuckGoHomePage.java
  AutomatizacionPruebas/src/test/java/starter/navigation/NavigateTo.java
  AutomatizacionPruebas/src/test/java/starter/search/LookForInformation.java
  AutomatizacionPruebas/src/test/java/starter/search/SearchForm.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/back/prueba3.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/creacuenta/CreaCuentaStepDefinition.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/home/HomeStepDefinition.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/iniciasesion/IniciarSesionStepDefinition.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/moduloadmin/prueba.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/prueba1.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/prueba4.java
  AutomatizacionPruebas/src/test/java/steps/CreaCuentaStep.java
  AutomatizacionPruebas/src/test/java/steps/HomeStep.java
  AutomatizacionPruebas/src/test/resources/features/search/creacuenta.feature
  AutomatizacionPruebas/src/test/resources/features/search/inicioSesion.feature
Due: none

se ajusta query de la consulta por fechas y se deja formato dd/mm/aaaa ordenadas
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/entities/EstadoFechaRespuesta.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/ReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/ReservaService.java
Due: backend_cicd

Ajuste en Detalle, BuscadorXSede, AdministrarPoliticas, Pedir Logueo antes de reservar, Modal FormInicio en detalle
  frontend/03/project-test/src/App.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/AdminPoliticas/TableroPoliticas.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/AdminUsers/PanelAdminUser.jsx
  frontend/03/project-test/src/Components/Buscador/Fecha/Calendar.css
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioBuscador.jsx
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioPrueba.jsx
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/AdministrarPoliticas.jsx
  frontend/03/project-test/src/Routes/Detail.jsx
  frontend/03/project-test/src/Routes/FormAltaUser.jsx
  frontend/03/project-test/src/Routes/FormIngreso.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Aumento cobertura pruebas
  AutomatizacionPruebas/src/test/java/pagesobject/front/creacuenta/CreaCuentaPage.java
  AutomatizacionPruebas/src/test/java/pagesobject/front/home/HomePage.java
  AutomatizacionPruebas/src/test/java/pagesobject/front/iniciarsesion/IniciarSesionPage.java
  AutomatizacionPruebas/src/test/java/pagesobject/front/sad.java
  AutomatizacionPruebas/src/test/java/pagesobject/prueba6.java
  AutomatizacionPruebas/src/test/java/starter/executetest/CucumberTestSuite.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/back/prueba3.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/creacuenta/CreaCuentaStepDefinition.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/home/HomeStepDefinition.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/iniciasesion/IniciarSesionStepDefinition.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/front/prueba1.java
  AutomatizacionPruebas/src/test/java/stepdefinitions/prueba4.java
  AutomatizacionPruebas/src/test/java/steps/HomeStep.java
  AutomatizacionPruebas/src/test/java/steps/front/CreaCuentaStep.java
  AutomatizacionPruebas/src/test/java/steps/front/HomeStep.java
  AutomatizacionPruebas/src/test/java/steps/front/InicioSesionStep.java
  AutomatizacionPruebas/src/test/resources/features/search/creacuenta.feature
  AutomatizacionPruebas/src/test/resources/features/search/homeHomeOff.feature
  AutomatizacionPruebas/src/test/resources/features/search/inicioSesion.feature
  AutomatizacionPruebas/src/test/resources/features/search/search_by_keyword.feature
  AutomatizacionPruebas/src/test/resources/serenity.conf
Due: none

Agregar Politicas y eliminar Politicas ok.
  frontend/03/project-test/src/Components/AdministradorProductos/AdminPoliticas/TableroPoliticas.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Ordenamiento segun click en cabeceras de Columnas en Ver Reservas
  frontend/03/project-test/src/Components/MenuDropDown/AccountMenu.jsx
  frontend/03/project-test/src/Components/Navbar/AvatarNav.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/FormIngreso.jsx
  frontend/03/project-test/src/Routes/VerReservas.jsx
Due: frontend_cicd

Update backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend_cicd

Update frontend/03/project-test/src/Components/AdministradorProductos/Categorias/TablaCategorias.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Categorias/TablaCategorias.jsx
Due: frontend_cicd

Actualización IP EC2 BE (de Dev a Lab) en componentes FE
  frontend/03/project-test/src/Components/AdministradorProductos/AdminPoliticas/TableroPoliticas.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/AdminProductos/TablaProductos.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/AdminUsers/Users.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Caracteristicas/TablaCaracteristicas.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Categorias/TablaCategorias.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Components/utils/global.contextauth.jsx
  frontend/03/project-test/src/Routes/AgregarCaracteristicas.jsx
  frontend/03/project-test/src/Routes/AgregarProducto.jsx
  frontend/03/project-test/src/Routes/EditarProducto.jsx
  frontend/03/project-test/src/Routes/FormAltaUser.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Se agregan los pipelines BE y Trigger, además de mover pipeline FE
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_cicd, backend_cicd

Metodo filtro por fechas y liberacion recursos
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/ProyectoIntegradorEquipo4Application.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/authentication/AuthController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthCategoriaTipoRecursoController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthPuntajeController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthRecursosController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/AuthReservaController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/controller/ReservaController.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/entities/EstadoFechaRespuesta.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/IReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/repository/ReservaRepository.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/IReservaService.java
  backend/src/main/java/com/Equipo4/ProyectoIntegradorEquipo4/service/ReservaService.java
  backend/src/main/resources/application.properties
Due: backend_cicd

Busqueda segun fechas en Home. Primer paso seteo del Calendar
  frontend/03/project-test/src/Components/AdministradorProductos/AdminUsers/PanelAdminUser.jsx
  frontend/03/project-test/src/Components/AdministradorProductos/Categorias/TablaCategorias.jsx
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioBuscador.jsx
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/AgregarCaracteristicas.jsx
  frontend/03/project-test/src/Routes/EditarProducto.jsx
  frontend/03/project-test/src/Routes/ReservarXIDRecurso.jsx
Due: frontend_cicd

Busqueda segun fechas en Home. 2do paso) seteo de la info Date a pasar a BE
  frontend/03/project-test/src/Components/Buscador/Fecha/CalendarioBuscador.jsx
Due: frontend_cicd

Busqueda segun fechas en Home. 3er paso) ajustar parametros y globalcontext de los componentes y armar la llamada al metodo del BE
  frontend/03/project-test/src/Components/AdministradorProductos/AdminProductos/TablaProductos.jsx
Due: frontend_cicd

Busqueda segun fechas en Home. 4to ) Comienzo de logica busqueda.
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
Due: frontend_cicd

cambio en metodo para consulta por fechas. Ahora trae datos
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
  frontend/03/project-test/src/Components/utils/formatearFecha.js
Due: frontend_cicd

Recorre Productos filtrados o ProductosBKLista y trae datos
  frontend/03/project-test/src/Components/Buscador/Fecha/Calendar.css
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
  frontend/03/project-test/src/Components/utils/formatearFecha.js
  frontend/03/project-test/src/Components/utils/subirFotos.js
Due: frontend_cicd

Ya recorre y trae impresion de si esta ocupado no por fecha sino en total por producto
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
Due: frontend_cicd

Ya FUNCIONA BUSQUEDA SOBRE BUSQUEDA. Falta sobre base completa
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
Due: frontend_cicd

Ya FUNCIONA BUSQUEDAAAAA
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
Due: frontend_cicd

Ajuste en cartel resultados de busqueda
  frontend/03/project-test/src/Components/Buscador/Sede/BuscarXSede.jsx
  frontend/03/project-test/src/Components/ListadoDeProductos/ListadoProductos.jsx
  frontend/03/project-test/src/Components/utils/global.context.jsx
  frontend/03/project-test/src/Routes/Home.jsx
Due: frontend_cicd

Path conditions:
  frontend_cicd: any of: frontend/**/**
  backend_cicd: any of: backend/**/**
